/------Slider----/
#slider
{
	width: 100%;
}

.carousel-caption
{
	top: 90%;
	transform: translateY(-50%);
	bottom: initial!important;
}

.carousel-caption h3
{
	color: #fff;
	font-size: 24px;
	font-family: Comic Sans MS;
}

.carousel-caption h2
{
	color: #fff;
	font-size: 36px;
	font-family:Century Schoolbook;
}

.carousel-caption h1
{
	color: #fff;
	font-size: 56px;
	font-family: Arial;
}
ul{
	float: right;
	list-style-type: none;
	top: 5%;
}
ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
.wrapper
{
	background-color: #000;
}