{ margin: 0;
  padding: 0;
  }
header {
        background-image: url(background3.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
}
ul{
	float: right;
	list-style-type: none;
}
ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.welcome-text{
	position: absolute;
	top: 46%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.welcome-text h1{
	color: #fff;
	font-size: 50px;
}

.welcome-text h3{
	color: #fff;
	font-size: 30px;
}

.feedback{
	float: right;
	display: inline-block;
}

.feedback a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid #000;
	transition: 0.6s ease;
}

.feedback a:hover{
	background-color: #000;
	color: #fff;
}
#contact
{
background: #efefef;
padding-top: 40px;
padding-bottom: 40px;
color: #777;
}

#contact h1
{
text-align: center;
color: #999;
padding-bottom: 10px;
font-family: Comic Sans MS;
}

.follow
{
background: #fff;
padding: 10px;
margin: 15px;
}

/*---------Footer-------*/
#footer
{
background: #333;
color:#fff;
padding: 12px;
}

.rows
{
text-align: center;
margin-left: 380px;
}
section
{
 background-image: url(background11.jpg);
 height: 100vh;
 background-size: cover;
 background-position: center;
}
marquee
{
	color:aqua;
	font-size: x-large;
	font-family: sans-serif;
}